<div class="flex justify-between py-2">
  <h2 class="text-xl font-bold" data-testid="product-title">Product: {{ product().name }}</h2>
  <div class="flex gap-2">
    @if(isAdmin()){
    <button
      matButton="tonal"
      data-testid="product-edit-btn"
      [routerLink]="['/products/edit/', product().id]"
    >
      Edit
    </button>
    <button
      matButton="filled"
      data-testid="product-delete-btn"
      (click)="openDialog.emit(product().name)"
    >
      Delete</button
    >}
  </div>
</div>
<div class="grid grid-cols-4 gap-x-4 gap-y-2">
  <span class="text-gray-500 text-end">Name</span>
  <span data-testid="product-name">{{ product().name }}</span>

  <span class="col-span-2 row-span-3 flex justify-end"
    ><img class="h-20" data-testid="product-image" [src]="product().image" [alt]="product().name"
  /></span>
  <span class="text-gray-500 text-end">Category</span>
  <span data-testid="product-category">{{ product().category }}</span>
  <span class="text-gray-500 text-end">Price</span>
  <span data-testid="product-price">{{ product().price }} RON</span>
  <span class="text-gray-500 text-end">Description</span>
  <span class="col-span-3" data-testid="product-description">{{ product().description }}</span>
</div>
